<article ng-class="[$stateParams.postType]" ng-repeat="a in articles">
  <h1 ng-class="$root.getBEMclass($stateParams.postType, 'title')" ng-bind-html="a.title.rendered"></h1>
  <div ng-class="$root.getBEMclass($stateParams.postType, 'content')" ng-bind-html="a.content.rendered"></div>
</article>
