<div class="menu">
  <ul>
    <li class="menu__element" ng-class="[m.type, m.classes]" ng-repeat="m in menu">
      <a href="{{m.url}}" data-link-num="{{m.number}}" data-link-id="{{m.linkID}}" ng-class="m.class">
        <span>{{m.title}}</span>
      </a>
      <ul ng-if="m.submenu">
        <li class="menu__element" ng-class="[sm.type, sm.classes]" ng-repeat="sm in m.submenu">
          <a href="{{sm.url}}" data-link-num="{{m.number}}" data-link-id="{{m.linkID}}" ng-class="m.class">
            <span>{{sm.title}}</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
