<article ng-class="[$stateParams.postType]" ng-repeat="a in articles">
  <a ng-href="{{a.link}}">
    <h1 ng-class="$root.getBEMclass($stateParams.postType, 'title')" ng-bind-html="a.title.rendered"></h1>
  </a>
</article>
