.site-branding {
  a {
    display: block;
    @include background-image('logo/logo-s-w');
    background-color: $red;
    background-position: 43% 50%;
    background-repeat: no-repeat;
    @include rem(background-size, 6.4, false);
    @include rem(width, 8.5, false);
    @include rem(height, 8, false);
    &:hover {
      background-color: $red-hover;
    }
  }
}

nav {
  &.main-menu {
      position: absolute;
      right: 0;
      top: 0;
      > ul {
        > li {
          float: left;
          @include rem(padding, 1, false);
        }
      }
  }
}
