$desktop-sizes: 380,  380,   620,  740,  880,  955,  1100,   1240, 1400;
$font-sizes:    5,    6,     7,   8,   9,   10,   10,     10,   10;
/*
 * Does the same thing as <meta name="viewport" content="width=device-width">,
 * but in the future W3C standard way. -ms- prefix is required for IE10+ to
 * render responsive styling in Windows 8 "snapped" views; IE10+ does not honor
 * the meta tag. See https://core.trac.wordpress.org/ticket/25888.
 */
@-ms-viewport {
  width: device-width; }
@viewport {
  width: device-width; }

/**
 * 16.1 Mobile Large #{nth($desktop-sizes, 1)}px
 */
@media screen and (max-width: #{nth($desktop-sizes, 1)}px) {
  html {
    font-size: #{nth($font-sizes, 1)}px; 
  }
}

/**
 * 16.2 Mobile Large #{nth($desktop-sizes, 2)}px
 */
@media screen and (min-width: #{nth($desktop-sizes, 2)}px) {
  html {
    font-size: #{nth($font-sizes, 2)}px; 
  }
}

/**
 * 16.3 Mobile Large #{nth($desktop-sizes, 3)}px
 */
@media screen and (min-width: #{nth($desktop-sizes, 3)}px) {
  html {
    font-size: #{nth($font-sizes, 3)}px; 
  }
}

/**
 * 16.4 Mobile Large #{nth($desktop-sizes, 4)}px
 */
@media screen and (min-width: #{nth($desktop-sizes, 4)}px) {
  html {
    font-size: #{nth($font-sizes, 4)}px; 
  }
}

/**
 * 16.5 Mobile Large #{nth($desktop-sizes, 5)}px
 */
@media screen and (min-width: #{nth($desktop-sizes, 5)}px) {
  html {
    font-size: #{nth($font-sizes, 5)}px; 
  }
}

/**
 * 16.6 Mobile Large #{nth($desktop-sizes, 6)}px
 */
@media screen and (min-width: #{nth($desktop-sizes, 6)}px) {
  html {
    font-size: #{nth($font-sizes, 6)}px; 
  }
}

/**
 * 16.7 Mobile Large #{nth($desktop-sizes, 7)}px
 */
@media screen and (min-width: #{nth($desktop-sizes, 7)}px) {
  html {
    font-size: #{nth($font-sizes, 7)}px; 
  }
}

/**
 * 16.8 Mobile Large #{nth($desktop-sizes, 8)}px
 */
@media screen and (min-width: #{nth($desktop-sizes, 8)}px) {
  html {
    font-size: #{nth($font-sizes, 8)}px; 
  }
}

/**
 * 16.9 Mobile Large #{nth($desktop-sizes, 9)}px
 */
@media screen and (min-width: #{nth($desktop-sizes, 9)}px) {
  html {
    font-size: #{nth($font-sizes, 9)}px; 
  }
}


/**
 * 17.0 Print
 */
@media print {

  * {
    color: black !important;
    font-size: 75%;
    @include boxShadow(none !important);
  }
}